body{
    background-color: darkcyan;
}
.bg-custom {
    background-image: url('ai-generated-9426221.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container{
    background-color: transparent;
    
}

.card {
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    background-color: transparent;
    backdrop-filter: blur(11px); /* Aplica o efeito de desfoque */
    border-radius: 10px;
    border-color: transparent;
}
.linhas{
    background-color: rgba(143, 143, 143, 0.295);
    border-color: transparent;
    color: rgb(0, 0, 0);
}

.linhas::placeholder{
    color: white;
}

.branco{
    color: rgb(255, 255, 255);
}
.btn{
    background-color: yellow;
    color: black;
    border-color: transparent;
}
.erro{
    color: rgb(255, 0, 0);  
}
.erro-linha{
    border-color: red;
}
